
// _footer.scss
 

.footer {
    bottom: 0;
    padding: 15px calc(#{$grid-gutter-width} * 1);
    position: absolute;
    right: 0;
    color: $footer-color;
    left: $leftsidebar-width;
    height: $footer-height;
    box-shadow: var(--#{$prefix}box-shadow);
    background-color: $footer-bg;
}

@media (max-width: 992px) {
    .footer {
        left: 0;
    }
}

// Enlarge menu
.sidebar-collpsed {
    .footer {
        left: $leftsidebar-collapsed-width;
    }
}

body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;
    }  
}